# BEGIN Cache-Control Headers
<ifModule mod_headers.c>

  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Headers: "headers, Origin, X-Requested-With, Content-Type, Accept, Authorization"

</ifModule>
# END Cache-Control Headers

Options +FollowSymlinks
RewriteEngine on
RewriteBase /
DirectorySlash Off


RewriteRule ^/?$ views/form.php [L,QSA]
RewriteRule ^edit/user/([0-9]+)$ views/form.php?userId=$1 [L,QSA]

RewriteRule ^list?$ views/listUsers.php [L,QSA]
RewriteRule ^new-cont-reg$ controller/Controller.php?n=$1 [NC,L,QSA]

